@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700'); 
 
html,body {
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
	background: #ecf0f1;
}

/*****************************HEADER STYLES*****************************/
.logo{
	    width: 33px;
    height: 33px;
    margin: 0 15px -5px 15px;
}

header h1 {
	    width: 100%;
    padding: 10px 0;
    font-weight: 300;
    margin: 0;
    color: fff;
    background: rebeccapurple;
    -webkit-box-shadow: 0px 3px 11px 0px rgba(50, 48, 50, 0.45);
-moz-box-shadow:    0px 3px 11px 0px rgba(50, 48, 50, 0.45);
box-shadow:         0px 3px 11px 0px rgba(50, 48, 50, 0.45);
}
header h1 span {
	font-weight: 700;
}
header h2 {
	color: #bdc3c7;
	font-weight:300;
	text-align: center;
}
/*****************************FORM STYLES*****************************/

.form {
	width: 60%;
    margin: 0 auto;
}

#todoInput {
	width: 100%;
	height: 60px;
	background: none;
	border: none;
	border-bottom: 1px solid #34495e;
	outline: none;
	font: 300 28px 'Ubuntu', sans-serif;
	padding: 20px;
	color: #34495e;
}

/*****************************LIST STYLES*****************************/
.list {
	width: 60%;
    margin: 10px auto;
}
.task {
    width: 100%;
    font-size: 20px;
    padding: 5px 5px 5px 10px;
    color: #34495e;
    border-radius: 25px;
    transition: all .3s ease;
}
.task:hover {
	background: rgba(0, 0, 0, .02);
	cursor: pointer;
}

.task:hover span{
	opacity: 1;
}

.done {
	text-decoration: line-through;
	color: #bdc3c7;
}

li span {
    float: right;
    background-color: #fbada4;
    color: #ffffff;
    padding: 4px 8px;
    transition: all 0.3s;
    opacity: 0;
    font-size: 13px;
    border-radius: 50%;
}

li span:hover {
  background-color: #e74c3c
}